.sign-up-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box{
    width: 30%;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-radius: 1rem;
    box-sizing: border-box;
    border-color: #9966cc;
    border-width: 2px;
    border-style: double;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-input{
    margin-top: 2rem;
}